version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: ecommerce_rag_db
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: ecommerce_rag
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d ecommerce_rag"]
      interval: 5s
      timeout: 5s
      retries: 5

  app:
      build:
        context: ..
        dockerfile: Dockerfile
      container_name: ecommerce_rag_app
      env_file: ../.env  
      depends_on:
        db:
          condition: service_healthy #  Healthcheck
      ports:
        - "8501:8501"
      volumes:
        - ..:/appود
      command: streamlit run app.py --server.address=0.0.0.0

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    volumes:
      - ../prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
    ports:
      - "9090:9090"
    depends_on:
      - app

volumes:
  postgres_data:
